/* Need to set specific style for .item:hover, #logo, and .tag */

.item:hover, .item:hover a {
	background:#e1fec7;

}
.item:hover .catgplace{
	color:blue
}	
.item:hover .creator{
	color:blue
}
/*.item:hover a {
	text-decoration: underline;
}*/

.tag {
	color:#60c00b;
}

/* No more customizations necessary below this */

body {
	overflow-x:hidden;
	margin:0;
	padding:0;
}

#popup {
	width:400px;
	height: 490px;
	overflow-x:hidden;
	padding:5px 14px 5px 0;
}

#logo {
	/*margin-top: -17px;*/
	/*float: right;*/
	float:left;
	position: relative;
	padding-left:10px;
	z-index: 100;
	right: 8px;
	top: 16px;
	margin-top: -13px;
	cursor:pointer;
	width: 50px;
}

.item {
	width:385px;
	height:75px;
	color:black;
	font-family:Helvetica;
/*	margin-top:-10px;*/
	padding:7px 7px 2px 7px;
	text-overflow:ellipsis;
	overflow:hidden;
	margin-right:15px;
    border-bottom: 1px solid #efefef;
	position: relative;
}


a .item {
	color:black;
	font-size:12px;
}

a {
	text-decoration:none;
}
		
.item img {
	float:left;
	-webkit-box-shadow:0px 0px 5px #333;
	padding:5px;
	background:white;
	margin-right:15px;
}

.tag {
	text-transform:uppercase;
	font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
	clear:both;
	font-stretch:ultra-condensed;
	font-weight:bold;
	font-size:13px;
	margin-left:7px;
}

h4 {
	margin-top:0;
	margin-bottom:0;
}

.description {
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #444;
}
.title
{
	color:#138900;
	font-weight:bold;
	font-size: 14px;
	font-family: Georgia, Century, Times, serif;
}

.readtitle
{
	color:#080;
    font-family: Georgia, Century, Times, serif;
    font-size:14px;
}
.logo-text
{
cursor: hand;
font-weight: bold;	
font-size: 20px;
width:168;	
font-family: 'Bookman Old Style', serif;
;
color: #777;
padding-top:11px;
/*margin: 15px 0px 0px 20px;*/
/*position: absolute;*/
}
.logo-text-inner
{
	color:#669933;
	font-size: 25px;
	
}
#tools {
    padding: 10px 0 0;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
    color: #777;
}

#tools-left {
    width: 50%;
    float: left;
    padding-left: 10px;
}

#tools-right {
    float: right;
    padding-right: 10px;
}
#header {
    height: 60px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.options,
.mark-read, .about,.feedback {
    cursor: pointer;
    cursor: hand;
}
.about{
    float:left;
    margin-left:15px;
}
.feedback{
    float:left;
    margin-left:20px;
}
.options {
    float: left
}

.info {
    color: #3A69AA;
    font-size: 11px;
    /*position: absolute;bottom:5;*/
    margin-top: 2 px;
}
.catgplace
{
    float:left;
	color: #3A69AA;
}
.creator
{
	float:right;
	color: #3A69AA;
}


.mark-read {
    margin: 0 0 0 15px;
    float: right;
}
#read_more_span{
    padding-right: 20px;
}
.help {
    font-weight: 700;
    font-style: italic;
    padding: 3px 0 2px 5px;
    margin-bottom: 5px;
}

#options_link {
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}


.post {
/*	padding:7px 7px 2px 7px;*/
	width:400px;
	margin-right:-15px;
	padding-left:5px;
	z-index:1;
}

.read { /*this will be all items beyond the unread count*/
	background: #f1f1f1;
	opacity:.9;
	z-index:1;
	color:#333;
}
form {
	display: block;
	margin-top: 0em;
}

#search {
	float: right;
	height: 21px;
	margin-top:17px;
}

#search_input {
	color: #666;
	width: 175px;
	font-size: 11px;
	border: 1px solid #CCC;
	height: 21px;
	padding-left: 3px;
	margin-right: -1px;
}

#search_button {
	float: right;
	border: none;
	padding: 0;
}
.defaultTextActive
{
	font-style:italic;
}

/* =Scrollbar
--------------------------------------------------------------------- */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: #f0f0f0;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 4px;
}


